{% extends 'base.html' %}
 
 
 
{% block title %} Flask CRUD {% endblock %}
 
 
 
{% block body %}
{% if session.role == 'admin' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gestion des notes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('dashboard')}}">Les classes <span class="sr-only">(current)</span></a>
      </li>

         <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('etudiants')}}">Les étudiants <span class="sr-only">(current)</span></a>
      </li>

         <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('matieres')}}">Les matières <span class="sr-only">(current)</span></a>
      </li>

          <li class="nav-item active float">
        <a class="nav-link" href="{{ url_for('logout')}}">Déconnecter <span class="sr-only">(current)</span></a>
      </li>

    </ul>

  </div>
</nav>
     {% endif %}

<div class="jumbotron p-3">
    <div class="well text-center">
 
        <h1>Gestion des notes des étudiants </h1>
 
    </div>
 
 
</div>

{% endblock %}